<p id="notice"><%= notice %></p>

<h1><%= @list.name %></h1>

<p><%= @list.description %></p>


<div id='step'>
  <ol>
<% @list.steps.each do |step| %>

  <li><%= step.description %></li>
  <% end %>
</ol>
</div>

<%= link_to "New Step", new_list_step_path(@list) %>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
